<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" name="Form" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%=stranka.StRacunov%>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>


	$(document).ready(function () {
		
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var preveri=0;
		
		//var link = "https://api.lavbic.net/kraji";
	
		$("#Email").keyup(function(){
			var input=$("#Email").val();
			
			if(emailRegex.test(input) ){
				//console.log("kura");
				
				$('#EmailValidate').removeClass('glyphicon glyphicon-remove').addClass('glyphicon glyphicon-ok');
				
				//omogoči gumb
		
				//$( "#Register" ).prop( "disabled", false );
				
				
			}else{
				
				
				$('#EmailValidate').removeClass('glyphicon glyphicon-remove').addClass('glyphicon glyphicon-remove');
				
				
				$("#Register" ).prop( "disabled", true );
				
			}
			
		
			
		});
		var ime="";
		var rezultat=[];
		var tab=[];
		var poste=[];
		function pridobiPodatke(link,callback){
			if(typeof(link) != "string")return;
			var xobj = new XMLHttpRequest();
			xobj.open("GET", link , true);
    		xobj.onreadystatechange = function () {
			if (xobj.readyState == 4 && xobj.status == "200") {	
				var json=JSON.parse(xobj.responseText);
				callback(json);
			}
		};
		xobj.send(null);
			
		}
		var zacasna = 0;
		pridobiPodatke("https://api.lavbic.net/kraji",function(jsonRezultat){
			rezultat=jsonRezultat;
			
			for(var j = 0; j<rezultat.length;j++){
			
				tab[j]=rezultat[j].kraj;
				//console.log(rezultat[j].kraj);
				
			
			
			}
			for(var k = 0; k<rezultat.length;k++){
				poste[k]=rezultat[k].postnaStevilka;
				//console.log(rezultat[k].postnaStevilka);
				
			}
			var posta;
			var num=0;
			ime="nema";
			
			$("#City").autocomplete({
				source:tab,
				select: function (event, ui) {
					
					ime = (ui.item.value);
					if(ime=="nema"){
						$( "#Register" ).prop( "disabled", true );
					}
						
				
				
					console.log(ime);
				
					for(var i = 0; i<rezultat.length;i++){
						if(ime==rezultat[i].kraj){
							zacasna=i;
						}
						//console.log(zacasna);
						posta=poste[zacasna];
						console.log(posta);
						num=posta;
						//console.log(num);
						//document.getElementById("PostalCode").value="posta";
					}	document.getElementById("PostalCode").value=num;
						document.getElementById("Country").value="Slovenija";
					$( "#Register" ).prop( "disabled", false );
					//$('#EmailValidate').removeClass('glyphicon glyphicon-remove').addClass('glyphicon glyphicon-ok');
					
        		 //console.log(ui.item.value)
    			}
			});
			
			
		
				
				
				
		});
		
			
			
			
			document.getElementById("City").addEventListener("keyup", function () {
				
				if (this.value.length == 0) {
					document.getElementById("PostalCode").value = "";
					document.getElementById("Country").value = "";
					document.getElementById("Register").disabled = true;
				}//else{
					
					//document.getElementById("PostalCode").value=this.postnaStevilka;
					//document.getElementById("Country").value="Slovenija";
					
					
			
					
					//ime=document.getElementById("City").value;
					//console.log(ime);
					
					/*	$("#Email").keyup(function(){
						var input=$("#Email").val();
				
						if(emailRegex.test(input)){
					//console.log("kura");
					
						$('#EmailValidate').removeClass('glyphicon glyphicon-remove').addClass('glyphicon glyphicon-ok');
					
					//omogoči gumb
			
						$( "#Register" ).prop( "disabled", false );
					
					
						}else{
					
					
							$('#EmailValidate').removeClass('glyphicon glyphicon-remove').addClass('glyphicon glyphicon-remove');
					
					
							$("#Register" ).prop( "disabled", true );
					
						}
			
		
			
					});*/
					
					
					
				//}

			});
		
		
		/*$("#Email").keyup(function(){
			var value = $("#Email").val()
			
			var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
			
			if(emailRegex.test(value)){
				$("#EmailValidate").css("glyphicon glyphicon-ok");
				
				$("$Register").prop('disabled', false);//gumb
				
				
				
				
			}else{
				$("#EmailValidate").css("glyphicon glyphicon-remove");
				
				$("#Register").prop('disabled',true); //za gumb??
				
				
				
				
			}
			
			
		});

		*/
	

		
		
		document.getElementById("seznamStrank").addEventListener("click", function(){
			//$(".racun-stranke").removeClass("racun-stranke");
			
        	var jaa= $("#seznamStrank option:selected").index();
        	
			var ime = (seznamStrank[jaa].text);
			
			//console.log(jaa);
			//console.log(ime);
			
			var a = ime.split(' ').slice(0,2).join(' ');
			
			var b = a.split(',').slice(0,2).join('');
			
			//console.log(b);
			
			for(var i = 0; i<seznamStrank.length;i++){
				
				var  c = (seznamRacunov[i].text).split(' ').slice(0,2).join(' ');
				
				console.log(c);
				
				if(b == c){
					$(".racun-stranke").removeClass("racun-stranke");
					//console.log("AAAAAAAAAAAAA");
					$(seznamRacunov[i]).addClass('racun-stranke');
					
				}
			}
			//console.log(seznamRacunov[0].text);
			
		});

		
	});
	
	
	
	
</script>
</body>
</html>